html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: 'Helvetica', 'Arial', sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: #fff;
  }

p {
    font-size: 16px;
    text-align: justify;
}

h1 {
    padding: 20px 0;
    color: black;
    text-align: center;
  }

h4 {
    text-align: center;
}

img {
    height: 600px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translate(60%, 0%);

}

.outside_section {
    box-shadow: 0px 0px 5px 5px gray;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 4rem;
    background-color: #fff;
}

.section>* {
    margin-left: 4rem;
    margin-right: 4rem;
}

table {
    border-collapse: collapse;
    /* width: 90%; */
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

a {
    z-index: 100;
    position: relative;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    border: 1px solid black;
}

.visual_content{
    display: flex;
    justify-content:  center;
}

main {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section {
    border-left: 32px solid #003da5ff;
    position: relative;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 2em;
    box-shadow: 0px 0px 2px 2px gray;
    background-color: #fff;
}

.section::before {
    content: "";
    position: absolute;
    top:-24px;
    right: -24px;
    left: -24px;
    bottom: -24px;
}

#intro {
    border-color: #da291cff;
}

#intro::before {
    border-left: 0px;
    left: 12px;
}

#data {
    border-color: #ed8b00ff;
    padding-bottom: 12px;
}

#data::before {
    left: 0px;
    top: 0px;
    border-top: 0px;
    border-left: 0px;
}

#data h2{
    padding-top: 20px;
    /* position:static; */
}

#visualization1 {
    border-color: #00843dff;
}

#visualization2 {
    border-color: #003da5ff;
    padding-top: 10px;
    padding-bottom: 20px;
}

#visualization2::before {
    top: 12px;
    bottom: 12px;
    right: 12px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}


#visualization3 {
    border-color: #da291cff;
    border-bottom: 0px;
    padding-bottom: 20px;
}

#visualization3::before {
    bottom: 12px;
    border-bottom: 0px;
}

#visualization4 {
    border-color: #00843dff;
    padding-bottom: 20px;
}

#visualization4::before {
    bottom: 12px;
    right: 12px;
}

#visualization5 {
    border-color: #ed8b00ff;
}

#conclusion{
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

#conclusion::before {
    bottom: 12px;
    top: 12px;
}

#title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.background {
    margin-left: 5rem;
    margin-right: 5rem;
    
    padding: 50px 50px 50px 50px;
    margin: 0.5rem;
}